<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.zhdi.winserver.proxy</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ joinPath .chezmoi.homeDir ".local" "bin" "ssh-tunnel.sh" }}</string>
        <string>win-server</string>
        <string>-D</string>
        <string>1080</string>
        <string>lowdelay</string>
        <string>nobind</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/winserver_proxy.log</string>
    <key>StandardOutPath</key>
    <string>/tmp/winserver_proxy.log</string>
</dict>
</plist>
