{{ if eq .chezmoi.os "darwin" -}}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# Comment this line if you don't want it to be added again.
Include ~/.orbstack/ssh/config

{{ end -}}

Host *
  ServerAliveInterval 60
  TCPKeepAlive yes
  ServerAliveCountMax 3

  ControlMaster auto
  ControlPath ~/.ssh/sockets/%r@%h-%p
  ControlPersist 5m

# Host *.corp.kuaishou.com
#     ProxyCommand nc -X 5 -x 127.0.0.1:1080 %h %p

Host 192.168.111.* 192.168.122.*
  ControlMaster no
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  LogLevel ERROR

Host relay
	Hostname relay.corp.kuaishou.com
	User zhuyiming

Host aliyun-chengdu
  Hostname 8.156.65.244
  User root
  Compression yes

Host baidu-beijing
  Hostname 106.12.147.22
  User root
  Compression yes

Host azure-hk
  HostName 20.6.131.153
  User azureuser
  AddKeysToAgent yes
  ServerAliveInterval 5
  TCPKeepAlive yes
# Match host wkserver exec "true"
# this fucking command extract the ssid of currently connected wifi
# fucccccccccccccccccckkkkkkkkkkkkkkkkkkkkk you apple
# Match host wkserver exec "/usr/local/bin/is_not_home 'TPLINK_5G'"
# this now only a fallback
Host jump-wkserver
  User zhdi
  HostName wanke-server.zhdi.top
  ProxyJump baidu-beijing
  Compression yes
#
#
# <<<<<<<<<<<<<<<< HISTORICALLY WE NOW USE QUANTX AND SS PROXY to ROUTE THIS ENTIRE FUCKING THING TO HOMELAB

Host wkserver
  HostName 192.168.0.225
  User zhdi
  Compression yes

Host kernel-reader
  Hostname 192.168.111.163
  User zhdi
  Compression yes
  # ProxyJump wkserver

Host make-funs
  Hostname 192.168.111.114
  User zhdi
  Compression yes
  ControlMaster no
  # ProxyJump wkserver

Host win-server
  HostName 192.168.122.200
  User zhdi
  Compression yes
  # Disable multiplexing for the stable tunnel
  ControlMaster no
  ControlPath none
  # Send keepalives more frequently (every 15s instead of 60s)
  ServerAliveInterval 15
  ServerAliveCountMax 4
  # ProxyJump wkserver

# <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<DAMN


Host github.com
  HostName ssh.github.com
  Port 443
  AddKeysToAgent yes
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_ed25519_git
  IdentityFile ~/.ssh/id_ed25519


{{ if eq .chezmoi.os "darwin" -}}
Host *
	IdentityAgent {{ joinPath .chezmoi.homeDir "Library" "Containers" "com.kuaishou.it.secpass.SecretAgent" "Data" "socket.ssh" }}
{{ end -}}
